@media screen and (min-width: 769px){
.main__conteiner:has(.succes-content.hidden){
    --width:     calc(var(--index)*36);
    /* --height:    calc(var(--index)*25.5); */
    --height: auto;
    --v-padding: 3.2rem;
    --h-padding: 3.2rem;
    --b-radius:  3.6rem;
}
.main__conteiner:has(.main-content.hidden){
    --width:     calc(var(--index)*20);
    --height:    auto;
    --v-padding: 6.4rem;
    --h-padding: 6.4rem;
    --b-radius:  3.6rem;
}
.main-content{
    --direction: row-reverse;
    --row-gap:     var(--spacing-0);
    --column-gap:  var(--spacing-800);

}
.succes-content{
    --width:        100%;
    --height:       100%;  
    --just-content: center; 
    --row-gap:     var(--spacing-400);
    --column-gap:  var(--spacing-0);
}
.img{
    width: 94%;
    height:    100%;
}
.img img{
    --top-left:    1.6rem;
    --top-right:   1.6rem;
    --bottom-right:1.6rem;
    --bottom-left: 1.6rem;
}
.content{
    --width:       88%;
    --row-gap:     var(--spacing-400);
    --column-gap:  var(--spacing-0);
}
.content__text{
    --row-gap:     var(--spacing-400);
    --column-gap:  var(--spacing-0);
}
.form{
    --row-gap:     var(--spacing-300);
    --column-gap:  var(--spacing-0);
}
.btn:hover{
    background: var(--gradient);
}
}